<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quotes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
        <style type="text/css" media="screen">
            .card-body {
                font-family: 'Arizonia', cursive;
            }
            .mt-2 {
                margin-top: 10px;
            }
            #quotes .col-sm-3 {
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

        <div class="container mt-2" id="app">
            <h5>Quotes Added</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" v-bind:style="{ width: ((quotes.length / quotesMax) * 100) + '%'}">{{ quotes.length }}/{{ quotesMax }}</div>
            </div>

            <form action="">
                <div class="form-group">
                    <label class="col-form-label text-strong" for="quote">Quote</label>
                    <textarea v-model="quoteText" class="form-control" name="quoteText" id="quote" rows="3" cols="30">{{ quoteText }}</textarea>
                </div>
                <div v-if="errorMessage.length" class="mt-2 alert alert-danger" role="alert">{{ errorMessage }}</div>
                <div class="form-group text-center">
                    <button v-on:click="saveQuote" class="btn btn-primary">Add Quote</button>
                </div>
            </form>

            <div class="row" id="quotes">
                <div class="col-sm-3" v-for="(quote, index) in quotes"
                    :key="quote.text">
                    <div class="card" v-bind:aria-id="index" v-on:click="deleteQuote">
                        <div class="card-body">
                            <h4 class="card-text">{{ quote.text }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/app.js"></script>
    </body>
</html>
